<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brs.mapper.methodSuggestMapper">

<select id="read" resultType="com.brs.domain.method.MethodSuggestVO">
	select method_no, method_step, regdate 
    from tbl_method
    where method_no = #{methodNo}
</select>

<select id="search" resultType="com.brs.domain.method.MethodSuggestVO">
	 SELECT METHOD_NO,METHOD_STEP FROM TBL_METHOD 
     where skin_type= #{skinType, jdbcType=VARCHAR}
     and makeup_degree = #{makeUpDegree, jdbcType=VARCHAR}
     and weather = #{weather, jdbcType=VARCHAR}
     and dust = #{dust, jdbcType=VARCHAR}
</select>

<select id="listSearch" resultType="com.brs.domain.method.MethodSuggestVO">
		<![CDATA[
	
	 select * from(
 	 select rownum rnum, prod_no, name, method_no, method_step, regdate from (
 	 select 
  	 m.method_no, m.method_step, m.regdate, p.prod_no, p.name
 	 from tbl_method m,tbl_method_detail md, tbl_product p
 	 where md.prod_no = p.prod_no
	 and m.method_no = md.method_no
     and m.skin_type= #{skinType, jdbcType=VARCHAR}
     and m.makeup_degree = #{makeUpDegree, jdbcType=VARCHAR}
     and m.weather = #{weather, jdbcType=VARCHAR}
     and m.dust = #{dust, jdbcType=VARCHAR}
 	 
	]]>
	
	 order by method_no desc, regdate desc
  
	<![CDATA[    
	 )) where (rnum >= #{pageStart} AND rnum <= #{pageEnd}) 
	 order by method_no desc, regdate desc
	]]>
	</select>
	
	<select id="countPaging" resultType="int">
	<![CDATA[  
 	 select count(method_no) 
 	 from tbl_method 
 	 where method_no > 0 
	]]>
	
	</select>
	
		
</mapper>