<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brs.mapper.UserProductMapper">

	<select id="listSearch" resultType="com.brs.domain.product.ProductVO">
	<![CDATA[  
	 select * from(
    select rownum rnum, prod_no, name, comp_name, 
    	   img, rating_avg, prodtype_name, category_name  
      from (
        select prod.prod_no, prod.name, prod.comp_name, 
        	   prod.img, rt.rating_avg , pt.name as prodtype_name, ca.category_name
          from rating_avg_view rt, tbl_product prod, tbl_prod_type pt ,tbl_category ca
         where prod.prod_no = rt.prod_no 
           and pt.prodtype_no = prod.prodtype_no
           and ca.category_no = pt.category_no
	]]>
		<include refid="searchCategory"></include>
		<include refid="searchProdtype"></include>
				 order by rating_avg desc
  
	<![CDATA[    
	 			)) where (rnum >= #{pageStart} AND rnum <= #{pageEnd})
				 order by rating_avg desc
	]]>
	</select>
	
	<select id="listSearchCount" resultType="int">
	<![CDATA[  
 	select count(prod_no) 
 	  from (
      	  select prod.prod_no, prod.name, prod.comp_name, prod.img, 
      	  		 rt.rating_avg , pt.name as prodtype_name, ca.category_name
            from rating_avg_view rt, tbl_product prod, tbl_prod_type pt ,tbl_category ca
           where prod.prod_no = rt.prod_no 
             and pt.prodtype_no = prod.prodtype_no
             and ca.category_no = pt.category_no
           order by rating_avg desc
     )
 	 where prod_no > 0
	]]>
		<include refid="searchCategory"></include>
		<include refid="searchProdtype"></include>
	</select>
	
	
	<sql id="searchCategory">
		<if test="searchType != null">
			<if test="searchType == '1000'.toString()">
				and ca.category_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == '1001'.toString()">
				and ca.category_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == '1002'.toString()">
				and ca.category_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == '1003'.toString()">
				and ca.category_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == '1020'.toString()">
				and ca.category_no like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>
	
	
	<sql id="searchProdtype">
		<if test="searchType != null">
			<if test="searchType == 'fo'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'oi'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'wa'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'g'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'lo'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'es'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'cr'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'sp'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'st'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'cu'.toString()">
				and pt.prodtype_no like '%' || #{keyword} || '%'
			</if>
		</if>
	</sql>


	<select id = "read" resultType="com.brs.domain.product.ProductVO">
	select prod.prod_no, prod.name, prod.comp_name, prod.price, prod.link,
	       prod.img, prod.regdate, prod.prodtype_no, pt.name as prodtypeName, rt.rating_avg
	       
	  from tbl_product prod, rating_avg_view rt, tbl_prod_type pt
	 where prod.prod_no = rt.prod_no
       and pt.prodtype_no = prod.prodtype_no
	   and prod.prod_no = #{prodNo}
	</select>
	
	<select id = "readReivew" resultType="com.brs.domain.review.ReviewVO">
	select prod.prod_no, prod.name, prod.comp_name, prod.price, prod.link,
	       prod.img, prod.regdate, prod.prodtype_no, pt.name as prodtypeName, rt.rating_avg
	       
	  from tbl_product prod, rating_avg_view rt, tbl_prod_type pt
	 where prod.prod_no = rt.prod_no
       and pt.prodtype_no = prod.prodtype_no
	   and prod.prod_no = #{prodNo}
	</select>

	
</mapper>